
body {
	  background-color: #ffffff;
	  color: #000000;
	  padding: 1em;
	  font-family: Verdana, Arial;

}

#wrapper {
		  margin-left: auto;
		  margin-right: auto;
		  background-color: #eff5f5;
		  width: 80%;
		  height: 570px;
		  min-width: 420px;
		  max-width: 1280px;


}

h1 {
	background-color: #ff3300;
	color: #FFFFFF;
	text-align: center;
	padding: 1em;
}

#pic{
	 height: 420px;
	 width: 48%;
	 float: right;
	 background-image: url(ginkgo leaf final.pdf);
	 background-position: right;
	 background-repeat: no-repeat;
	 background-size: 100% 140%;
	 margin-top: -21px;


}
main {
	  padding: 0 3em 3em 3em;
	  display: block;
}
nav {
	 text-align: center;
	 font-weight: bold;
	 font-size: 19px;
	 padding: 1em;


}
nav ul {
		text-decoration: none;

}
nav li {
		text-decoration: none;


}

dt {
	padding-top: 0.5em;
    padding-bottom: 0.5em;
	font-weight: bold;


}

footer {
		background-color: #ff8566;
	  	color: #3F2860;
	    text-align: center;
	    font-size: small;
	    font-style: italic;
		padding:0.5em;

}
